.container {
    height: 423px;
    width: 468px;
    background: black;
    border: 5px solid #00ff36;
    border-radius: 15px 30px;
    : 

/*     align-items:center; */
/*     justify-content:center; */
}

#numInputs {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
    justify-content: center;
    padding: 20px;
    margin: 0 auto;
}

#view-window {
    width: 393px;
    margin: 0 auto;
    height: 60px;
    outline:  0;
    border: 0;
    font-size: 40px;
    text-align: right;
    border-radius: 2px;
/*     padding-right: 10px; */
}

.calc-body {
    display: flex;
    width: 400px;
    margin-top: 10px;
}

.numbers {
    display: flex;
    flex-wrap: wrap;
    width: 300px;
}

button {
    height:80px;
    border: 1px solid black;
    font-size: 18px;
    outline: 0;
/*     border: none; */
    background: #00ff36;
    border-radius: 100%;
    box-shadow:  2px 2px 9px #d8b600;
}

button:active {
    box-shadow: inset 2px 2px 9px #d8b600;
}

.numbers button {
    flex-wrap: wrap;
    height: 80px;
    width: 100px;
    border: 1px solid black;
    font-size: 18px
}



.operators {
    display: flex;
    flex-direction: column;
    width: 100px;
/*     border-radius: 100px; */
/*     width: 24%; */
}