body {
    background: linear-gradient(#905656, #2eff00);
    background-repeat: no-repeat;
    background-size:cover;
    height: 1000px;
}

.container {
    height: 505px;
    width: 468px;
    background: black;
    border: 5px solid #00ff36;
    border-radius: 15px 30px;
    margin-left:50px;
    margin-top: 50px;
}

#numInputs {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
    justify-content: center;
    padding: 20px;
    margin: 0 auto;
}

#view-window {
    width: 393px;
    margin: 0 auto;
    height: 60px;
    outline:  0;
    border: 0;
    font-size: 40px;
    text-align: right;
    border-radius: 2px;
}

.calc-body {
    display: flex;
    width: 400px;
    margin-top: 10px;
}

.numbers {
    display: flex;
    flex-wrap: wrap;
    width: 300px;
}

.numbers button, button {
    height: 80px;
    border: 1px solid black;
    font-family: arial;
    font-weight: bold;
    font-size: 28px;
    outline: 0;
    cursor: pointer;
}

button {
    background: #00ff36;
    border-radius: 100%;
    box-shadow:  2px 2px 9px #d8b600;
}

button:active {
    box-shadow: inset 2px 2px 9px #ada370;
}

.numbers button {
    flex-wrap: wrap;
    width: 100px;
}

#equalsButton {
    margin-top: 10px;
    width: 400px;
    border-radius: 10px;
    height: 60px;
}

.operators {
    display: flex;
    flex-direction: column;
    width: 100px;
}